@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #f0f0f0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30vh;
}

.container-img{
    display: flex;
    margin-left: 15%;

    
}

.tituloBoasVindas{




    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;


}


.btnComecarQuestionario{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    padding: 10px;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: larger;
    font-style: normal;

    background-color: rgb(109, 170, 109);
}
