@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30vh;
}

.container-img{
    display: flex;
    margin-left: 15%;

    
}

.tituloBoasVindas{




    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;


}


.btnComecarQuestionario{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5vh;
    padding: 10px;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: larger;
    font-style: normal;

    background-color: rgb(109, 170, 109);
    border-radius: 7px;
}

.botaoEnviar{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: larger;
    font-style: normal;

    margin-top: 60px;
    margin-bottom: 15px;
    padding: 10px;

    background-color: rgb(109, 170, 109);
    border-radius: 5px;
}
